.header {
  height: fit-content;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  z-index: 15;
}
.navbar {
  padding: 0px 10px;
  height: fit-content;
  display: flex;
  place-items: center;
}
.logo {
  flex: 1;
  margin: 0px 20px;
  display: flex;
  align-items: center;
}
.logo {
  margin: 0px 5px;
}
.logo_image {
  margin: 0px 5px;
}
.nav_link {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
