.hero_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_text_container {
  width: 870px;
  height: 396px;
  z-index: 2;
  background-color: #fff9e7d0;
  font-size: min(2vw, 24px);
  border-radius: 30px;
  position: relative;
}
.hero_text {
  z-index: 3;
  margin-top: 30px;
  margin-left: 30px;
  padding: 30px 110px;
  color: black;
  font-weight: 500;
}
.hero_image {
  z-index: 5;
  margin-right: -110px;
}
.bullet_points {
  color: red;
}
.bg_image {
  z-index: -1;
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info_band {
  width: 100%;
  background-color: #fffcb2;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}
.band_text_container {
  display: flex;
  place-items: center;
  font-size: 30px;
  color: #f06f38;
}
.band_text_container > img {
  margin-right: 10px;
}
.plans_section {
  transition: all 0.8s;
  margin: 10px 0px;
  text-align: center;
  position: relative;
}
.plans_section > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 20px;
}

.plan_cards {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.baby_jombee {
  width: 200px;
  transition: inherit;
  position: absolute;
  bottom: 2px;
  left: 50px;
}
.angry_birds {
  position: absolute;
  bottom: 20px;
  right: 20%;
}
